<div class="container">
    <h1 class="display-4">Face Detection</h1>
    <p class="lead">Detect faces present in a local image file or image link</p>
    <hr class="my-4">
    <h2>Local file</h2>
    <form>
        <div class="form-group">
            <label for="imageFile">Image file</label>
            <input type="file" class="form-control-file" id="imageFile" accept="image/*">
        </div>
    </form>
    <button id="postButton" class="btn btn-primary" href="#" role="button">Run POST request</button>
    <p id="canvas1Title">Source Image canvas</p>
    <canvas class="container" id="sourceImageCanvas1" alt="Source Image" height="1">Image will be displayed here</canvas>
    
    <hr class="my-2">
    <div class=" border-primary p-16">
        <h4 class="text-secondary">POST Request</h4>
        <p>Endpoint: /api/detect-faces/from-blob</p>
        <h4 class="text-primary">Request Json</h4>
        <pre><code id="postRequestJson">
{
    "Image": { 
        "Bytes": `Image as base64 DataUrl string`,
    }
}
        </code></pre>
    </div>
   
    <div class=" border-success p-16">
        <h4 class="text-success">Response Json</h4>
        <pre><code id="postResponseJson">
{
    "FaceDetails": [ 
        { 
            "BoundingBox": { 
                "Height": number,
                "Left": number,
                "Top": number,
                "Width": number
            },
            "Confidence": number
        }
    ],
    "OrientationCorrection": "string"
}
        </code></pre>
    </div>
    <hr class="my-4">
    <h2>From url</h2>
    <form>
        <div class="form-group">
            <label for="imageUrl">Choose an image file</label>
            <input type="text" class="form-control" id="imageUrl">
        </div>
    </form>
    <button id="getButton" class="btn btn-primary" href="#" role="button">Run GET request</button>
    <p id="canvas2Title">Source Image canvas</p>
    <canvas class="container" id="sourceImageCanvas2" alt="Source Image" height="1">Image will be displayed here</canvas>
    
    <hr class="my-2">
    <div class=" border-primary p-16">
        <h4 class="text-secondary">GET Request</h4>
        <p>Endpoint: /api/detect-faces/from-url</p>
        <h4 class="text-primary">Request Params</h4>
        <pre><code id="getRequestJson">
{
    "imageUrl": "string"
}
        </code></pre>
    </div>
    
    <div class=" border-success p-16"></div>
        <h4 class="text-success">Response Json</h4>
        <pre><code id="getResponseJson">
{
    "FaceDetails": [ 
        { 
            "BoundingBox": { 
                "Height": number,
                "Left": number,
                "Top": number,
                "Width": number
            },
            "Confidence": number
        }
    ],
    "OrientationCorrection": "string"
}
        </code></pre>
    </div>
    <div class="container  border-info">
        <p>BoundingBox values are ratios not pixels! <a href="https://docs.aws.amazon.com/rekognition/latest/dg/API_BoundingBox.html" class="text-secondary">See the interpretation of BoundingBox</a></p>
        <p>Request/Response syntax has same specs as <a href="https://docs.aws.amazon.com/rekognition/latest/dg/API_DetectFaces.html">Amazon Face detection API</a></p>
    </div>
</div>
<footer class="footer">
    <h4 class="subtitle1">Find me on</h4>
    <a href="https://stackoverflow.com/users/6699069/sziraqui">
        <img class="flair" src="https://stackoverflow.com/users/flair/6699069.png?theme=clean" alt="StackOverflow user flair" title="Profile for sziraqui at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
    <a href="httpS://github.com/sziraqui">
        <img class="social-logo" src="https://sziraqui.github.io/media/github-sign.png" alt="GitHub">
    </a>
    <a href="https://linkedin.com/in/sziraqui">
        <img class="social-logo" src="https://sziraqui.github.io/media/linkedin.png" alt="Linkedin">
    </a>
</footer>
<script src="/scripts/canvas-driver.js" defer="true"></script>
<script src="/scripts/detect-faces.js" defer="true"></script>

