<div class="container container-fluid">
    <h1 class="display-4">Poor Man's Rekognition</h1>
    <p class="lead">Free and Open Source alternative to Amazon Rekognition</p>
    <hr class="my-4">
    <p>This is a Proof of Concept for CCExtractor's GSoC'19 problem statement. The AI backend is implemented using <a href="https://github.com/huan/node-facenet">node-facenet</a>. The API is written using TypeScript + Express. Two services from Amazon Rekognition are implemented in this POC viz. DetectFaces and CompareFaces. My focus is to concentrate more on the API and ensure any AI backend is easily pluggable to the web service.</p>
    <h4>Try the API</h4>
    <a class="btn btn-primary" href="/face-detection-demo">Try DetectFaces</a>
    <a class="btn btn-primary" href="/face-compare-demo">Try CompareFaces</a>
</div>